<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
    <head>
        <title>Coke Clothing</title>

        <vtex:metaTags/>
        
        <!--  SubTemplate: pngIeFix -->
        <vtex:template id="pngIeFix" />
        <!-- /SubTemplate: pngIeFix -->


        <!-- css padrao -->
        <link rel="stylesheet" type="" href="/arquivos/cc-central.css" />
    
    </head>

    <body>

        <!-- Header -->
        <div id="wrapper-full-header" class="hold-wrapper" >
            <div id="hold-header" class="wrapper" >
                <vtex:template id="CC-header" />
            </div>
        </div>

        <!-- Conteudo -->
        <div class="hold-wrapper" id="wrapper-main-content" >
            
            <div class="wrapper" id="content" >
                <iframe id="ifrneoassist" height="100%" width="100%" frameborder="0" style="margin-top:25px;"  src="http://e2e.neoassist.com/?th=coca"></iframe>
               
            </div>

        </div>

        <!-- Footer -->
        <div id="wrapper-full-footer" class="hold-wrapper" >
            <div class="hold-wrapper" >
                
                <div class="footer-background" ></div>
                <div class="wrapper" >
                    <!--  SubTemplate: footer -->
                    <vtex:template id="CC-footer" />
                    <!--  /SubTemplate: footer -->
                </div>
                
            </div>
            
            <!-- Subfooter -->
            <div class="hold-wrapper" id="hold-subfooter" >
                <!--  SubTemplate: subfooter -->
                <vtex:template id="CC-subfooter" />
                <!--  /SubTemplate: subfooter -->
            </div>
            
        </div>

    </body>

</html>